/.tmp.drivedownload/
/BioCel_Bioenergetica_v2.9.2.pdf
/ontologies/
/*.csv
/*.tsv
/neo4j_boimmg.py
/chemoinformatics_tests.ipynb
/OntologyClasses
/src/boimmgpy/configs/my_database_settings.conf
/database_integration
/GapFilling
/curation
/.ipynb_checkpoints
/.idea
**/__pycache__
/stastistics/statistics.py
/boimmg_pipeline.py
/*.cpython-36.pyc
/src/boimmgpy/required_files/LipidMaps
/dist/
setup_database_credentials.py
boimmg.egg-info