cobra~=0.21.0
pandas~=1.2.3
numpy~=1.19.2
python-libsbml
requests~=2.22.0
biopython
lxml
openpyxl
biocyc~=0.2.0
sympy~=1.7.1
neo4j~=4.2.1
cobrababel~=0.1.3
rdkit-pypi==2022.9.4
setuptools~=52.0.0
apache-airflow==1.10.12
joblib
tqdm
jinja2
python-dotenv